@import "vars/global";
@import "normalize";
@import "theme/light";
@import "theme/dark";

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.container {
    padding: 20px;
}

.content {
    display: flex;
}

.main {
    flex-grow: 1;
}
