.simple {
    background-color: transparent;
    border: none;
}

.dark {
    background-color: var(--black);
    color: var(--white);
}

.light {
    background-color: var(--white);
    color: var(--orange);
}
