.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-color-inversion);
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}
